header {
  display: flex;
  justify-content: space-between;
}

.logo {
   width: 10rem;
   height: 3rem;
}   

.menu {
  display: flex;
  gap: 4rem;
  color: #fff;
  font-size: 1.6rem;
}

.link:hover {
  cursor: pointer;
  color: var(--orange);
}